<div class="row mb-2">
    <div class="col-12">
       <h1> <i class="material-icons" style="font-size:24px;color:red">arrow_forward</i> Sea-Freight</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="../assets/images/carousel/4.png" style="height:25rem" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Sea Freight International Courier Services</h3>
              <p class="card-text">We provide within the ocean freight zone is depends on decades of expertise, rendering U.S.A. a reliable partner. Specialists guarantee a private combination of route sections to move your goods from port to port within the most effective approach.
                Buffalo specific maintains its offices within the vital Indian ports associate degree additionally to an terrific infrastructure we tend to create out there the whole vary of ocean freight services. Our solutions are intermeshed towards it slow and value frame, applying equally to large merchandise and sophisticated comes. On several routes we are able to provide you with warranted freight area. We tend to conjointly represent various massive shipping lines like NYK Asian nation, Yusen or Kaisha. However our specialists don't merely organize the ocean transport; they conjointly prepare the safe loading and unloading of your goods.</div>
           
          </div>
    </div>
</div>

