<div class="row mb-2">
    <div class="col-12">
       <h1> <i class="material-icons" style="font-size:24px;color:red">arrow_forward</i> International</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="../assets/images/carousel/1.jpg" style="height:25rem" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <h3 class="card-title">International Courier Services</h3>
                    <p class="card-text">Buffalo Express services are the leading International courier services operated in Hyderabad with a wide domestic and international network.We are glad to say that our services are best leading in position in the present market.
      We provide huge range of services globally that includes overnight delivery to decisive international destinations as well as domestic destinations. We provide worldwide courier services with fast air freight in company with unique gift delivery services in selected areas. With the reputation we earned in the courier service retail, we are proud to announce ourselves as a one stop destination for international courier services business within no time we recognized as world wide express courier.</div>
                  <ul >
                    <li ><a href="#">Food Items International</a></li>
                    <li><a href="#">Excess / Unaccompanied Baggage </a></li>
                    <li><a href="#">International Related Packers & Movers</a></li>
                    <li> <a href="#">Medicine International </a></li>
                    <li> <a  href="#">University Applications </a></li>
                  </ul>
          </div>
    </div>
</div>


