<div class="row mb-2">
    <div class="col-12">
       <h1> 
        <i class="material-icons" style="font-size:24px;color:red">arrow_forward</i>Air-Freight</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="../assets/images/carousel/3.png"  style="height:25rem" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Buffalo Express provides proficient international air freight cargo logistics services…</h3>
              <p class="card-text">If you're searching for a destined air freight service or ocean fright shipping service at your door step, Buffalo Xpress one such provision supplier with glorious name within the business for providing quality shipping services at economical valuation quotes. We offer range of choices for the convenience of our customers with our air freight or ocean freight shipping. We tend to create it certain that our payload services area unit cheap and inside the reach of our customers and additionally guaranteeing the ability in delivery time with our any problem.
              <ul>
               <h4>Benefits of our Services:</h4> 
               <li>No restrictions on the size or weight (T&C’s Apply)</li> 
               <li> Modern tracking solutions </li> 
               <li>Flexibility in the operations </li>
               <li> Competitive pricing methods</li> 
               <li> Round the clock customer service throughout the year   </li>
            </ul>
                </div>

          </div>
    </div>
</div>

