
<div class="row mb-2">
    <div class="col-12">
       <h1><i class="material-icons" style="font-size:24px;color:red">arrow_forward</i> Domestic</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="../assets/images/carousel/2.png" style="height:25rem" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Buffalo Express Domestic Courier services</h3>
              <p class="card-text">Buffalo express services are the leading International courier services operated in Banglore with a large domestic and international network. We are glad to mention that our services are best leading in position within the gift market.

                We provide vast vary of services globally that has nightlong delivery to decisive international destinations in addition as domestic destinations. We offer worldwide courier services with quick air freight in company with distinctive gift delivery services in hand-picked areas. With the name we have a tendency to earned within the traveller service retail, we have a tendency to ar proud to announce ourselves as a 1 stop destination for international courier services business among no time we have a tendency to recognized as worldwide courier services.</div>
          </div>
    </div>
</div>
