<div class="row mb-2">
    <div class="col-12">
       <h1> <i class="material-icons" style="font-size:24px;color:red">arrow_forward</i> Logistic</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="../assets/images/carousel/log.jpg"  style="height:25rem" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Warehousing, Distribution and Logistics Services</h3>
              <p class="card-text">Buffalo Express international courier service provides deposition and distribution centres for firms with a desire for a superior, nonetheless versatile infrastructure. Through our shared supply capabilities, our customers gain the advantages of our custom-built services. We offer time period access to inventory standing utilizing a straightforward, intuitive methodology in managing your inventory.
 We offer a good form of deposition, distribution, and added services designed to hurry up your provide chain as expeditiously and cost-effectively as attainable. By utilizing our efficiencies and skill to cut back your total price of deposition and transportation, your company will focus its time and cash on what extremely matters in your trade rather than wasting valuable resources on supply.</div>
            <ul >
                <h4> Our Warehousing and Distribution capabilities include:</h4> 
              <li  > <a href="#"> Integrated Warehousing & Distribution System </a></li>
              <li > <a href="#"> Domestic Transportation </a></li>
              <li > <a href="#">Finished Goods Distribution</a></li>
              <li > <a href="#"> Retail Distribution </a></li>
              <li > <a href="#"> Vendor Managed Inventory</a></li>
            </ul>
    </div>
</div>


